<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ganhou">
            Ganhou
        </button>
        <!--Ganhou -->
            <div class="modal fade " id="ganhou" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" *ngIf="expression">
                <div class="modal-dialog modal-dialog centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle"> 🎉🎉 Parabéns! 🎉🎉 </h5>
                        </div>
                    <div class="modal-body">
                        <p> Você Ganhou! ✨  </p>
                        <img src="https://media4.giphy.com/media/26u4cqiYI30juCOGY/giphy.gif?cid=ecf05e473txfbyuuf6uskfc3wrkttx2x8oxyz5pn1cxnr1z2&rid=giphy.gif&ct=g" alt="Mulher asiatica com um trofeu, enquanto cai uma chuva de confete sobre ela" width="100%">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="expression"> Jogar </button> <!--Encaminha tela de jogo-->
                    </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#perdeu">
            Perdeu 
        </button>
        <!--Perdeu -->
            <div class="modal fade " id="perdeu" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" *ngIf="expression">
                <div class="modal-dialog modal-dialog centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle"> 😞😞 Não foi dessa vez! 😞😞 </h5>
                        </div>
                    <div class="modal-body">
                        <p> Você Perdeu!   </p>
                        <img src="https://media4.giphy.com/media/WS5B2ctuTqWVW7oX2Q/giphy.gif?cid=790b7611db3de45f21735d2552a6fbee5f190f065a1c1ca4&rid=giphy.gif&ct=g" alt="Personagem come come bravo" width="100%">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="expression"> Jogar </button> <!--Encaminha tela de jogo-->
                    </div>
                    </div>
                </div>
            </div>
    </body>
</html>