body {
  background-color: #bf2188;
}

#canvasTabuleiro {
  background-color: transparent /*lightgrey*/;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#canvasControl {
  position:absolute;
  top:1;
  left:720px;
  align-self:right;
  z-index:3;
}

#canvasOponente, #canvasJogador {
  background-color: transparent /*lightgrey*/;
  border: transparent /*1px solid #000*/;
  z-index: 2;
}

#canvasCompra {
  background-color: transparent;
  border: transparent;
  z-index: 0;
}

#zoomButton{
  width:25px;
  height:25px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

#moveButton{
  width:25px;
  height:25px;
  position:absolute;
  align-self:right;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.4);
}
